*{
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex: 1 1 4%;
  color: #116466;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 4.5rem;
  position: sticky;
  margin-bottom: 2rem;
}

.title {
  margin-left: 4rem;
  padding-bottom: 0.5rem;
  padding-right: 10rem;
  border-bottom: 0.6rem solid #d9b08c;
}

.toggle {
  display: none;
}
.Home {
  display: flex;
  flex: 6 6;
  padding: 3rem;
  overflow: auto;
}
.content {
  color: #fff;
  padding-left: 3rem;
  text-align: left;
}

.name {
  font-size: 7rem;
  color: #2c3531;
  margin-bottom: 3rem;
}
.about {
  font-size: 4rem;
  color: #d9b08c;
  margin-bottom: 3rem;
}
.description {
  min-width: 250px;
  overflow: hidden;
  width: 60%;
  font-size: 2.7rem;
  line-height: 4rem;
  color: rgb(122, 122, 122);
  word-wrap: break-word;
  line-break: normal;
  margin-bottom: 40px;
}
.dot {
  font-weight: 900;
  font-size: 60px;
  color: #d9b08c;
}
.resume-btn {
  display: block;
  font-size: 20px;
  width: 150px;
  background-color: #d9b08c;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin-bottom: 3rem;
  transition: all 0.5s;
}
.resume-btn:hover {
  color: #2c3531;
  background-color: #ffcb9a;
}
.projects {
  display: flex;
  flex: 6 6;
  padding: 15px;
  overflow: hidden;
}

.projects .content {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  overflow: auto;
}

.project-card {
  background: #d1e8e2;
  transition: all 0.3s;
  width: 300px;
  height: 412px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
}
.project-card-img {
  height: 200px;
  width: 300px;
}
.project-card-text {
  text-align: left;
  padding: 30px;
  background: #116466;
  height: 150px;
}
.project-card-heading {
  font-size: 2rem;
  margin-bottom: 5px;
}
.project-card-desc {
  font-size: 1.4rem;
  color: #d1e8e2;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
.project-card-link {
  margin-top: 10px;
  font-size: 14px;
  line-height: 25px;
  width: 50px;
  transition: all 0.2s linear;
}
.project-card-link:hover {
  width: 70px;
  background: #d9b08c;
  color: #2c3531;
}

.skills {
  display: flex;
  flex: 6 6;
  flex-direction: column;
  padding: 3rem;
}
.skills .more-text {
  align-self: flex-end;
  color: #116466;
  margin-right: 100px;
  margin-top: 20px;
  font-size: 25px;
}
.skills .content {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 55vh;
}

.skill-card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.skill-card {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: transparent;
  transition: all 0.3s;
  flex: 1 1 20rem;
  height: 170px;
  margin: 5px 10px;
  box-sizing: border-box;
}
.skill-card-logo {
  height: 79px;
  width: 79px;
  margin-bottom: 10px;
}

.skill-card:hover {
  background: #116466;
  color: #d1e8e2;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 5;
  background: #fcfcfc;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #2c3531;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo-container {
  display: flex;
  flex: 2;
  align-items: baseline;
  justify-content: center;
}
.links-container {
  flex: 5;
}
.social-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  align-self: flex-end;
  max-width: 100px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #ffcb9a;
  height: auto;
}

.links-list {
  list-style: none;
  display: block;
}

.links-list li {
  display: block;
}

.social-links {
  list-style: none;
  display: block;
}
.social-links li {
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 0.7rem;
}
.social-links li a {
  color: rgb(116, 116, 116);
}
.social-links li a:hover {
  color: rgb(255, 255, 255);
}

.nav-link {
  text-align: left;
  font-size: 2rem;
  display: block;
  color: #d1e8e2;
  line-height: 5.5rem;
  margin: 2.1rem 0.6rem;
  padding-left: 5rem;
}
.nav-link:link {
  text-decoration: none;
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.144);
  color: #ffcb9a;
}
.nav-link.active {
  color: #d9b08c;
  padding-left: 4.1rem;
  font-weight: 700;
  border-left: 0.9rem solid #ffcb9a;
}
.close {
  display: none;
}

.main-inner {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .projects {
    padding: 10px;
  }

  .toggle {
    display: block;
    color: #d9b08c;
    margin: 20px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 100;
    transition: all 0.5s;
    width: 200px;
  }
  
  .close {
    color: #fff;
    display: block;
    position: absolute;
    top: 10px;
    font-size: 2rem;
    right: 10px;
  }

  .active-sidebar {
    left: 0;
  }

  .Home, .skills, .projects {
    flex: 4 4;
    padding: 2rem;
    margin-bottom: 3rem;
  }

  .header {
    font-size: 3.2rem;
  }

  .title {
    margin-left: 2rem;
  }

  .content {
    padding: 0;
  }

  .name {
    font-size: 6rem;
  }

  .about {
    font-size: 3rem;
  }

  .description {
    font-size: 2.2rem;
  }

  .more-text {
    margin-right: 15px !important;
  }
}
@media only screen and (max-width: 425px) {
  .project-card {
    margin: 20px 5px;
  }
  .projects {
    padding: 10px 0;
  }
}
